<div class="container">    
    <div class="row"> 
        <div class="col-md-3"> 
            <div class="tableTitle">Enviar Logs</div> 
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="well my-drop-zone FileDrop">
                 arrate e solta aqui seu arquivo
            </div>
            <div style="margin-top: 50px;">
                <input type="file" ng2FileSelect [uploader]="uploader" />
            </div>
        </div>     
    </div>   
</div>

<div style="margin-top: 50px;">    
    <button  mat-stroked-button type="submit" (click)="home()" mat-button>Home</button>
</div>

<div style="margin-top: 15px;">
    Status:
    <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
    </div>
    <div *ngIf="uploader.progress === 100">Enviado com sucesso...</div>
</div>

<div class="mat-elevation-z8" style="margin-top: 50px;">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.file.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Tamanho </th>
        <td mat-cell *matCellDef="let element"> {{ element.file.size/1024/1024 | number:'.2' }} MB </td>
      </ng-container>
  
      <ng-container matColumnDef="send">
        <th mat-header-cell *matHeaderCellDef> Enviar </th>
        <td mat-cell *matCellDef="let element">
            <i class="gg-arrow-up" (click)="upload(element)"></i>
        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
