<div class="div-form">
    <form class="example-form" [formGroup]="subscriptionForm" style="width: 100%;">
        <div style="margin-top: 20px;">Inserir</div>
        
        <div style="display: flex;">
            <div class="padding" style="width: 50%;">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="IP" formControlName="ip">
                </mat-form-field>
            </div>

            <div class="padding" style="margin-left: 50px; width: 100%;">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Request" formControlName="request">
                </mat-form-field>
            </div>    
        </div>  

        <div style="display: flex;">
            <div class="padding" style="width: 50%;">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Status" formControlName="status">
                </mat-form-field>
            </div>

            <div class="padding" style="margin-left: 50px;" style="width: 100%;">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="User Agent" formControlName="userAgent">
                </mat-form-field>
            </div> 
        </div>

        <div class="padding">
            <button mat-stroked-button type="submit" (click)="insert()" mat-button>Salvar</button>
            <button style="margin-left: 20px;" mat-stroked-button type="submit" (click)="home()" mat-button>Cancelar</button>
        </div> 
    </form>
</div>