table {
    width: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .div-form{
    margin-bottom: 1%;
  }

  .padding{
    padding: 15px;
  }
  
  .tableTitle {
    font-size: 25px; 
    padding: 15px;
  }

.example-form[_ngcontent-c1] {
min-width: 150px !important;
max-width: 70%  !important;
}