<div class="div-form">
<form class="example-form" [formGroup]="subscriptionForm">
    <div style="margin-top: 20px;">Filtrar</div>
    <div style="display: flex; width: 100%;">
        <div class="padding">
            <mat-form-field class="example-full-width">
            <input matInput placeholder="IP" formControlName="logIp">
            </mat-form-field>
        </div>
        <div class="padding">
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Data Inicial Ex: 2020-12-31" formControlName="startDate" [textMask]="{mask: maskDate}">
            </mat-form-field>
        </div>
        <div class="padding">
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Data Final Ex: 2020-12-31" formControlName="endDate" [textMask]="{mask: maskDate}">
            </mat-form-field>
        </div>
        <div class="padding">
            <button mat-stroked-button type="submit" (click)="search()" mat-button>Pesquisar</button>
        </div>    
    </div>  
</form>
</div>

<div class="padding">
    <button mat-stroked-button type="submit" (click)="insertLog()" mat-button>Incluir Log</button>
    <button style="margin-left: 15px;" mat-stroked-button type="submit" (click)="sendLogs()" mat-button>Enviar Logs</button>
</div>

<div>
  <div *ngIf="graphData && graphData.length > 0" class="graphDiv">
    <div>Dashboard</div>
    <div>
      <div class="chart-container" style="position: relative; height:37vh;">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>    
    </div>
  </div>
  <div class="tableTitle">
    Logs
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.numId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.dateData}} </td>
      </ng-container>
  
      <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef> IP </th>
        <td mat-cell *matCellDef="let element"> {{element.strIp}} </td>
      </ng-container>
  
      <ng-container matColumnDef="request">
        <th mat-header-cell *matHeaderCellDef> Request </th>
        <td mat-cell *matCellDef="let element"> {{element.strRequest}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.numStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="userAgent">
        <th mat-header-cell *matHeaderCellDef> User Agent </th>
        <td mat-cell *matCellDef="let element"> {{element.strUserAgent}} </td>
      </ng-container>
  
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element" (click)="edit(element.numId)">
          <i class="gg-pen"></i>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Deletar </th>
        <td mat-cell *matCellDef="let element" (click)="delete(element.numId)">  
          <i class="gg-trash"></i>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

